{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <!--<meta http-equiv="refresh" content="5"></meta>-->
  <div id = "responses" class="chat-area">
  {% for message in chatmessages %}
  <p>{{message.author}}:{{message.content}}</p>
  {% endfor %}
  </div>
  <form method = "POST">
    {% csrf_token %}
  <fieldset class = "form-group">
    <div class= "form-data">
      <table>{{ form|crispy }}</table>
    </div>
  </fieldset>
  <div class="form-group">
    <button class="btn btn-outline-info" type="submit"> Submit </button>
  </div>
  </form>
  <script>
$(document).ready(function() {
  var my_refresh = setInterval(function() {
    $('#responses').load('/log/');
  }, 2000);
});
var element = document.getElementById("responses");
element.scrollTop = element.scrollHeight;
</script>
{% endblock content %}
